:root {
    font-size: 16px;
    --system-ui: "Inter", system-ui, sans-serif;
    --monospace: Roboto Mono, Monaco, Courier New, monospace;
    --s-01: .0625rem;
    --s-02: .125rem;
    --s-04: .25rem;
    --s-06: .375rem;
    --s-08: .5rem;
    --s-12: .75rem;
    --s-16: 1rem;
    --s-20: 1.25rem;
}